<div class="row">
    <% @users.each_with_index do |user, index| %>

        <div class="col-md-3">
            <div class="well user-list-wells">
                <div class="row">
                    <div class="col-md-6">
                        <% unless user.avatar.blank? %>
                        <%= image_tag user.avatar.url, size: 100 %>
                        <% end %>
                    </div>
                    <div class="col-md-6">
                        <p>
                            <% if current_user.following.include?(user.id) %>
                                <%= link_to "Following", unfollow_path(id: user.id), class: "btn btn-primary", id: "unfollow_btn_#{index}" %>
                            <% else %>
                                <% if current_user.id != user.id %>
                                    <%= link_to "Follow", now_following_path(id: user.id), class: "btn btn-primary" %>
                                <% end %>
                            <% end %>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <h3><%= user.name %></h3>
                    <%= link_to show_user_path(id: user.id) do %>
                    <p><%= "@#{user.username}" %></p>
                    <% end %>
                    <p>
                        <%= user.bio %>
                    </p>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            $(document).ready(function(){
                $('#unfollow_btn_<%= index %>').hover(function(){
                    $(this).removeClass('btn-primary');
                    $(this).addClass('btn-danger');
                    $(this).html("Unfollow");
                }, function(){
                    $(this).html("Following");
                    $(this).removeClass('btn-danger');
                    $(this).addClass('btn-primary');
                });
            });
        </script>
    <% end %>
</div>
