<h1>@ <%= current_user.username%>'s Feed </h1>

<%= render 'tweets/form', tweet: @tweet %>

<h3> Here is what your friends are saying: </h3>

<% @following_tweets.reverse_each do |tweet| %>
  <div class = "well">
    <p>
      <%= image_tag tweet.user.avatar.url, size: 30 %>
      <%= tweet.user.name %>
      <%= link_to "@#{tweet.user.username}", show_user_path(id: tweet.user.id) %>
      <%= time_ago_in_words(tweet.created_at) %>
    </p>
    <p> <%= tweet.message.html_safe %></p>
  </div>
<% end %>
