<h1> @<%= @user.username%>'s Profile </h1>

<h4> <%= @user.name %> </h4>
<h4> <%= @user.location %> </h4>
<h4> <%= @user.bio %> </h4>

<p>
    <%= link_to "Who follows me?", followers_path(id: @user.id), class: "btn btn-default btn-sm" %>
    <%= link_to "Who do I follow?", following_path(id: @user.id), class: "btn btn-default btn-sm" %>
    <%= link_to "#{@user.username}'s Friends", friends_path(id: @user.id), class: "btn btn-default btn-sm" %>
</p>
<p>
  <% if current_user.following.include?(@user.id) %>
    <%= link_to "Following", unfollow_path(id: @user.id), class:"btn btn-primary", id:"unfollow_btn" %>
    <% else %>
    <% if current_user.id != @user.id %>
    <%= link_to "follow", now_following_path(id: @user.id), class: "btn btn-primary" %>
    <% end %>
    <% end %>
</p>

<% @user.tweets.each do |tweet|%>
<div class="well">
  <p>
    <%= image_tag tweet.user.avatar.url, size:30 %>
    <%= tweet.user.name %>
    @<%= tweet.user.username %>
    <%= time_ago_in_words(tweet.created_at) %>
  </p>

  <p> <%= tweet.message.html_safe %></p>
</div>

<script type="text/javascript">
        $(document).ready(function(){
            $('#unfollow_btn').hover(function(){
                $(this).removeClass('btn-primary');
                $(this).addClass('btn-danger');
                $(this).html("Unfollow");
            }, function(){
                $(this).html("Following");
                $(this).removeClass('btn-danger');
                $(this).addClass('btn-primary');
            });
        });
    </script>
<% end %>
